.navbar-default {

}
.navbar-nav {
	 float: right;
}

label {
	width: 120px;
}



.navbar-default {
    background-color: #e1baa2 !important;
    border-color: #b48861;
}
.navbar-default .navbar-brand {
    color: #5b5753;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fdeedb;
}
.navbar-default .navbar-nav > li > a {
    color: #5b5753;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fdeedb;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fdeedb;
    background-color: #b48861;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fdeedb;
    background-color: #b48861;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #5b5753;
    border-bottom-color: #5b5753;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fdeedb;
    border-bottom-color: #fdeedb;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fdeedb;
    border-bottom-color: #fdeedb;
}
.navbar-default .navbar-toggle {
    border-color: #b48861;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #b48861;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #5b5753;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #5b5753;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fdeedb;
    }
}

